.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: #0A66C2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
